<!DOCTYPE html>
<html>
    <head>
        <title>ENTER YOUR NAME</title>
<style>
  body{
    color:maroon; text-align: center;
background-color: skyblue;
  }
  h1{
    text-align:center;
    color: green
  }
  a{
    font-size: 20px
    color:orange;
  }
  a:hover{
    color: red;
    text-decoration: underline;
    text-decoration-color: green;
  }
  body:hover{
    background-color: blue;
  }
</style>


    </head>
    <body>
        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}
        {% endblock %}
    </body>
</html>
